<!DOCTYPE html>
  <html>
    <head>
    <meta charset="utf-8">
    <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <% title = page_title(current_page) %>
    <% description = page_description(current_page) %>
    <% image = page_image(current_page) %>

    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- DublinCore Metadata -->
    <meta property="dc:title" content="<%= title %>" />
    <meta property="dc:format" content="text/html" />
    <meta property="dc:language" content="en" />
    <meta property="dc:rights" content="CC-BY" />
    <meta property="dc:source" content="<%= ENV['SITE_TITLE'] %>" />
    <meta property="dc:subject" content="Scholarly Communication" />
    <meta property="dc:type" content="website" />

    <% if ENV['TWITTER_HANDLE'] %>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="<%= ENV['TWITTER_HANDLE'] %>" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:image" content="<%= image %>" />
    <meta name="twitter:description" content="<%= description %>" />
    <% end %>

    <meta property="og:site_name" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />
    <meta property="og:type" content="blog" />

    <link href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
    <link 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" 
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" 
      rel="stylesheet" crossorigin="anonymous" />
    <link href="<%= ENV['CDN_URL'] %>/stylesheets/datacite.css" rel='stylesheet' type='text/css'>
    <link href="<%= ENV['CDN_URL'] %>/images/favicon.ico" rel="icon" type="image/ico" />

    <script type="application/ld+json">
      <%= article_as_json(current_page) %>
    </script>
    
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/browse/@webcomponents/webcomponentsjs@2.0.0/webcomponents-loader.js"></script>
    <script src="https://unpkg.com/data-metrics-badge/dist/data-metrics-badge.min.js"></script>
  </head>
  <body>
    <%= partial "includes/header.html.erb" %> 
    <%= yield %> 
    <%= partial "includes/footer.html.erb" %> 
    <%= partial "includes/javascripts.html.erb" %>
    <%= partial "includes/google_analytics.html.erb" %>
  </body>
</html>
