<div class="bottom-teaser cf">
  <div class="isLeft">
    <section class="author">
      <% Array(current_page.data.author).each_with_index do |a, i| %>
        <% if data.authors.fetch(a, {})[:image_url] %>
          <div class="author-image" style="background-image: url(<%= data.authors.fetch(a, {})[:image_url] %>)">Blog Logo</div>
        <% end %>
        <h4><%= data.authors.fetch(a, {})[:name] %></h4>
        <p class="bio"><%= data.authors.fetch(a, {})[:bio] %></p>
        <p class="orcid"><%= link_to data.authors.fetch(a, {})[:orcid], data.authors.fetch(a, {})[:orcid] %></p>
        <div class="clearfix"></div>
      <% end %>
      <h4><%= current_page.data.title %></h4>
      <% if current_page.data.doi.present? %>
        <p class="published"><%= link_to("https://doi.org/" + current_page.data.doi, "https://doi.org/" + current_page.data.doi) %>
      <% end %>
      <p class="published"><i class="fa fa-calendar"></i> <time datetime="<%= current_page.data.date.strftime("%F %R") %>"><%= current_page.data.date.strftime("%B %-d, %Y") %></time></p>
      <p class="published"><i class="fa fa-history"></i> <a href="<%= data.site.source_url %>/commits/master/source/<%= current_page.path %>.md">History</a></p>
      <p class="published">© <%= current_page.data.date.strftime("%Y") %> <%= author_string(current_page.data.author) %>. Distributed under the terms of the <a href="<%= data.site.license.url %>"><%= data.site.license.name %> license</a>.</p>
      <% if current_page.data.tags.size > 0 %>
      <p class="published">
        <i class="fa fa-tags"></i>
        <%= current_page.data.tags.map { |tag| "<a href=\"/index.html?tag=#{tag}\">#{tag}</a>" }.join(", ") %>
      </p>
      <% end %>
    </section>
  </div>
</div>
