<% author = data.authors[current_page.data.author] %>

<div class="bottom-teaser cf">
  <div class="isLeft">
    <section class="author">
      <% if author.image_url %>
        <div class="author-image" style="background-image: url(<%= author.image_url %>)">Blog Logo</div>
      <% end %>
      <h4><%= author.name %></h4>
      <p class="bio"><%= author.bio %></p>
      <hr>
      <p class="published"><i class="fa fa-calendar"></i> <time datetime="<%= current_page.data.date.strftime("%F %R") %>"><%= current_page.data.date.strftime("%B %-d, %Y") %></time></p>
      <p class="published"><i class="fa fa-history"></i> <a href="<%= data.site.source_url %>/commits/master/source/<%= current_page.path %>.md">History</a></p>
      <p class="published">© <%= current_page.data.date.strftime("%Y") %> <%= author.name %>. Distributed under the terms of the <a href="<%= data.site.license.url %>"><%= data.site.license.name %> license</a>.</p>
      <% if current_page.data.tags.size > 0 %>
      <p class="published">
        <i class="fa fa-tags"></i>
        <%= current_page.data.tags.map { |tag| "<a href=\"/index.html?tag=#{tag}\">#{tag}</a>" }.join(", ") %>
      </p>
      <% end %>
    </section>
  </div>
</div>
